#root {
  min-width: 100vw;
  min-height: 100svh;
  text-align: center;
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100svh;
  width: 100vw;
}
.page.dark {
  --color: rgba(255, 255, 255, 0.87);
  --background-color: #2f2f2f;
  background-color: var(--background-color);
  color: var(--color);
}

.page.light {
  color: #213547;
  background-color: #e9e9e9;
 
  a:hover {
    color: #747bff;
  }
  button {
    color: #213547;
    background-color: rgba(0,0,0,0.05);
  }
}

.page-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 960px;
}

.heading {
  margin: 2rem;
  font-size: 2rem;
}

.toolbar {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: black;
  padding: 0.75rem;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.light .toolbar {
  background: white;
}

.toolbar, .icon-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 95vw;
}

.toolbar button:first-child {
  margin-left: 0.5rem;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.toolbar button:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-right: 0.5rem;
}

.fake-btn:hover {
  cursor: pointer;
}

.light .icon {
  background: white;
  fill: rgba(0,0,0,0.95);
}

.dark .icon {
  background: black;
  fill: rgba(255,255,255,0.95);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sm .icon {
  margin: 0.25rem;
  svg {
    width: 24px;
    height: 24px;
  }
}

.md .icon {
  margin: 0.5rem;
  svg {
    width: 48px;
    height: 48px;
  }
}

.lg .icon {
  margin: 0.5rem;
  svg {
    width: 64px;
    height: 64px;
  }
}

.icon.huge {
  svg {
    width: 192px;
    height: 192px;
  }
}

input {
  padding: 0.5rem;
  font-size: 1.25rem;
  border-radius: 4px;
}
.dark input {
  background: rgba(255,255,255,0.1);
  color: var(--color);
}

.light button.active {
  background: rgba(0,0,0,0.15);
}

.dark button.active {
  background: rgba(255,255,255,0.25);
}

.light .icon-panel {
  background-color: rgba(255,255,255,0.95);
}

.icon-panel {
  display: flex;
  justify-content: center;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 60svh;
  background-color: #202020;

  .close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .body {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 960px;

    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    margin-right: 2rem;
    margin-left: 4rem;
    .row {
      display: flex;
      align-items: center;
    }
    .value {
      font-weight: bold;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}

.copy-btn:hover {
  opacity: 1;
  cursor: pointer;
}
.copy-btn {
  font-size: 75%;
  margin-left: 4px;
  opacity: 0.8;
}
