#root {
  min-width: 100vw;
  min-height: 100svh;
  text-align: center;
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100svh;
  width: 100vw;
}
.page.dark {
  --color: rgba(255, 255, 255, 0.87);
  --background-color: #2f2f2f;
  background-color: var(--background-color);
  color: var(--color);
}

.page.light {
  color: #213547;
  background-color: #e9e9e9;
 
  a:hover {
    color: #747bff;
  }
  button {
    color: #213547;
    background-color: rgba(0,0,0,0.05);
  }
}

.page-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: calc(min(100vw, 960px));
}

.heading {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.toolbar {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: black;
  padding: 0.75rem;
  border-radius: 20px;
  margin-bottom: 2rem;
}

.light .toolbar {
  background: white;
}

.toolbar, .icon-list {
  display: flex;
  flex-wrap: wrap;
  max-width: calc(100vw - 20px);
}

.toolbar button:first-of-type {
  margin-left: 0.5rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.toolbar button:last-of-type {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.icon-list {
  justify-content: space-between;
}

.fake-btn:hover {
  cursor: pointer;
}

.light .icon {
  background: white;
  fill: rgba(0,0,0,0.95);
}

.dark .icon {
  background: black;
  fill: rgba(255,255,255,0.95);
}

.light.icon {
  background: white !important;
  fill: rgba(0,0,0,0.95) !important;
}

.dark.icon {
  background: black !important;
  fill: rgba(255,255,255,0.95) !important;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sm .icon {
  margin: 0.25rem;
  svg {
    width: 24px;
    height: 24px;
  }
}

.md .icon {
  margin: 0.5rem;
  svg {
    width: 48px;
    height: 48px;
  }
}

.lg .icon {
  margin: 0.5rem;
  svg {
    width: 64px;
    height: 64px;
  }
}

.icon.huge {
  svg {
    width: 192px;
    height: 192px;
  }
}

input {
  border-width: 1px;
  padding: 0.5rem;
  font-size: 1.25rem;
  border-radius: 10px;
  border-width: 1px;
}
.dark input {
  background: rgba(255,255,255,0.1);
  color: var(--color);
}

.light button.active {
  background: rgba(0,0,0,0.15);
}

.dark button.active {
  background: rgba(255,255,255,0.25);
}

.light .icon-panel {
  background-color: rgba(240,240,240,1);
  border-top: 5px rgba(0, 0, 0, 0.08) solid;
}

.icon-panel {
  display: flex;
  justify-content: center;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #202020;
  border-top: 5px rgba(255, 255, 255, 0.14) solid;

  .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    button {
      padding: 0.25rem;
    }
  }

  .body {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: calc(min(100vw, 960px));

    .icons {
      margin-top: 1.5rem;
      margin-bottom: 1.25rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .icon-col {
        align-self: stretch;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    margin-right: 2rem;
    margin-left: 5rem;
    min-width: 250px;
    .row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
    }
    .value {
      font-weight: bold;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}

.copy-btn:hover {
  opacity: 1;
  cursor: pointer;
}
.copy-btn {
  font-size: 75%;
  margin-left: 4px;
  opacity: 0.8;
}

 @media only screen and (max-width: 768px) {
   .heading {
     font-size: 1.75rem;
   }
   .toolbar {
     flex-direction: column;
     max-width: calc(100vw - 50px);
     > div {
       margin-top: 0.4rem;
       margin-bottom: 0.4rem;
     }
     > div:first-child {
       margin-top: 0;
     }
     > div:last-child {
       margin-bottom: 0rem;
     }
   }
   .icon-panel {
     .body {
       flex-direction: column;
       .icons {
         margin-top: 3rem;
         margin-bottom: 1rem;
       }
       .right {
         min-width: 70%;
         margin-left: 0rem;
         margin-right: 0rem;
       }
     }
   }
 }
